@section SPAViews {
    @*@Html.Partial("_Home")*@
    <div class="ui fluid rounded image">
        <img src="~/Content/HomePageImage.jpg"/>
    </div>
}
@section Scripts{
    @Scripts.Render("~/bundles/views/home")
}